* {
  font-family: 'Century Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
  text-align: center;
  margin: auto;
  background-color: darkslategray;
  width: 40%;
  min-width: 400px;
  height: 350px;
  border-radius: 10px;
  color: rgb(209, 209, 209);
}

.list-item {
  padding-bottom: 10px;
}

.header {
  width: 100%;
  background-color: darkgreen;
  height: 50px;
  box-shadow: 0px 0px 5px 0px rgb(153, 153, 153);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  display: block;
  margin: auto;
}

.input-area {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: rgb(105, 83, 101);
  border: none;
  color: rgb(209, 209, 209);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(17, 9, 15);
}

.button:active {
  background-color: rgb(126, 125, 125);
}

.list {
  margin-left: 20px;
}

.new-user-form-input {
  display: block;
}

.portal-form-input {
  display: block;
  margin: auto;
}
